<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<!-- Archive -->
		<setting id="VIEW_MODE" type="enum" label="ViewMode" values="0|1|2|3" default="0" />
		<setting id="SORT_MODE" type="enum" label="SortMode" values="0|1|2|3" default="0" />

		<!-- EPG -->
		<setting id="EPG_MODE" type="enum" label="EPGMode" values="0|1|2|3" default="0" />

		<!-- Favorite Addons -->
		<setting id="ADDON_VIEW_MODE" type="enum" label="ViewMode" values="0|1" default="1" />
		<setting id="Addons_Sort" type="enum" label="SortMode" values="0|1" default="1" />

		<!-- Firmware update notify -->
		<setting id="UPDATE_NOTIFY" type="enum" label="UpdateNotify" values="0|1|2" default="1" />
		<setting id="UPDATE_NOTIFY_COUNT" type="enum" label="UpdateNotifyCount" values="0|1|2|3|4|5" default="0" />

		<!-- PIP position -->
		<setting id="PIP_POSITION" type="text" label="PIPPostion" values="857|170|352|198" default="857|170|352|198" />

		<setting id="AUTO_CONFIRM_CHANNEL" type="enum" label="1141" values="0" default="0" />

	</category>
	<category label="1146">
		<setting id="RSS_FEED_MAIN_MENU" type="bool" label="1140" default="false" />
		<!--setting id="AUTO_CONFIRM_CHANNEL" type="bool" label="1141" default="false" /-->
		<setting id="DISPLAY_CLOCK_NULLWINDOW" type="bool" label="1142" default="false" />
		<setting id="DISPLAY_CLOCK_VFD" type="bool" label="1143"  default="false" />
		<setting id="DISPLAY_EVENT_LIVE" type="bool" label="1144" default="false" />
		<!--setting id="DISPLAY_EXTEND_INFO" type="bool" label="1145" default="false" /-->
		<!--setting id="DISPLAY_CHANNEL_NUMBER" type="bool" label="1148" default="true" /-->
		<setting id="WEB_INTERFACE" type="bool" label="1144" default="false" />
		<setting id="SURFACE_24" type="bool" label="1144" default="false" />
	</category>
	<category label="hide">
		<setting id="CUSTOM_ICON" type="text" label="Custom Icon" default="false" />
		<setting id="YOUTUBE_TV" type="bool" label="Youtube TV" default="false" />
	</category>
</settings>
