#wrapper {
		width: 1200px;
		padding: 10px;
		margin-left: 20px;
	}

	body {
		margin: auto;
		overflow-y: scroll
	}

	
	/* ======================================================== */
	/* Top Menu */
	
	#top {
		height: 90px;
		background-color: #525252;
		
	}
	
	#title {
		text-align: center;
		padding-top: 25px;
		color: white;
		font-family: arial;
		font-weight: bold;
		font-size: 1.8em;
		padding-right: 227px;
	}
	
	#logo {
		margin-left: 10px;
		float: left;
	}

	/* Top Menu */
	/* ======================================================== */
	
	
	/* ======================================================== */
	/* Side Menu */
	
	#menu {
		margin-top: 30px;
		clear: both;
		float: left;
		width: 200px;
		padding-left: 20px;
		float: left;
	}

	#menu p {
		line-height: 1.0em;
		font-family: arial;
		font-weight: bold;
	}
	
	#menu p a:link {
		text-decoration: none;
		color: #525252;
	}

	#menu p a:visited {
		color: #525252;
	}

	#menu p a:hover {
		color: #ff6c00;
	}

	
	/* Side Menu */
	/* ======================================================== */
	
	
	/* ======================================================== */
	/* Main Screen */
	
	#main {
		margin-top: 20px;
		margin-left: 230px;
	}

	#remotecontroller {
		margin-left: 400px;
		padding-top: 30px;
		zoom: 1;
	}

	/* Main Screen */
	/* ======================================================== */	


	/* ======================================================== */
	/* Channel List */

	#channels {
		border-collapse: collapse;
		border: 1px solid black;
	}
	
	#channels td {
		font-family: arial;
		font-size: 1.0em;
		font-weight: normal;
		padding: 0;
		border-left: 7px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}
	
	#channels tr:first-child td {
		border-top: 7px solid #dfdfdf;
	}
	
	#channels tr:last-child td {
		border-bottom: 7px solid #dfdfdf;
	}
	
	#channels tr td:last-child {
		border-right: 7px solid #dfdfdf;
	}
	
	.channelContent {
		display: inline-block;
		padding: 0;
		margin: 5px;
	}

	/* Channel List */
	/* ======================================================== */	

	/* Remote Control */
	/* ======================================================== */	

	#hiddenFrame {
		visibility: hidden;
	}

	.recContent {
		font-family: arial;
		font-size: 1.0em;
		font-weight: bold;
	}

	.weeklyInfo {
		font-family: arial;
		font-size: 0.9em;
		font-weight: normal;
		color : red;
	}

	.timerTime {
		font-family: arial;
		font-size: 1.3em;
		font-weight: bold;
		color: black;
	}

	.timerContent {
		font-family: arial;
		font-size: 1.0em;
		color: #bcbcbc;
		font-weight: bold;
	}

	.timerView {
		font-family: arial;
		font-size: 0.9em;
		font-weight: normal;
		color: green;
	}

	/* Remote Control */
	/* ======================================================== */	

	/* EPG Page */
	/* ======================================================== */	

	#epgWrapper {
		margin: auto;
		padding: 10px;
	}

	#epgTop {
		height: 50px;
		background-color: #525252;
		font-family: arial;
		font-size: 1.8em;
		text-align: center;
		font-weight: bold;
		color: white;
	}

	.epgContent {
		padding: 10px;
		font-family: arial;
		font-size: 1.0em;
		font-weight: bold;
	}

	.epgDescription {
		padding: 10px;
		font-family: arial;
		font-size: 0.8em;
		border-bottom: 1px dotted #dfdfdf;
	}

	.noEpg {
		font-family: arial;
		font-weight: bold;
		font-size: 1.2em;
		color: red;
	}
	
	/* EPG Page */
	/* ======================================================== */	
	

	/* EPG Page */
	/* ======================================================== */	

	.liveTitle {
		font-family: arial;
		font-size: 1.0em;
		font-weight: normal;
		padding: 7px;
		border-bottom: 1px solid #dfdfdf;
	}

	.liveContent {
		font-family: arial;
		font-size: 0.9em;
		padding-top: 10px;
	}

	.vlcLink {
		font-family: arial;
		font-size: 0.8em;
	}

	/* EPG Page */
	/* ======================================================== */	

	/* EPG Grid */
	/* ======================================================== */	

	#timeline ul {
		margin: 0;
		padding: 0;
		list-style: none;
		background: url(/uiImg/bg_nav.png) repeat-x left top;
		float: left;
	}

	#timeline li.timeTitle {
		float: left;
		padding: 5px;
		margin: 0;
		width: 150;
		border-right: 1px dotted yellow;
		color: #dfdfdf;
		font-family: arial;
		font-weight: bold;
		text-align: center;
	}
	
	#timeline li.time {
		float: left;
		padding: 5px;
		margin: 0;
		width: 120px;
		border-right: 1px dotted yellow;
		color: #dfdfdf;
		font-family: arial;
		font-size: 0.8em;
	}

	.epgGridContent ul {
		margin: 1px 0 0 0;
		padding: 0;
		list-style: none;
		float: left;
	}

	.epgGridContent li.channel {
		float: left;
		padding: 5px;
		margin: 0;
		width: 150px;
		height: 100px;
		border: 1px solid red;
		font-family: arial;
		font-weight: bold;
		text-align: center;
	}

	.clearAll {
		clear: both;
	}
	
	/* EPG Grid */
	/* ======================================================== */	
	
	
